@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box; }

::selection {
  background: #125398;
  color: #f0eee9; }

:root,
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #11151C;
  font-family: "Roboto", sans-serif;
  color: #4b4b4b;
  font-size: 16px; }

a {
  color: #125398;
  text-decoration: none; }

a:focus, a:hover {
  color: #007FFF; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Satisfy", sans-serif; }

.h1 {
  font-size: 2em; }

.h2 {
  font-size: 1.8em; }

.h3 {
  font-size: 1.6em; }

.h4 {
  font-size: 1.4em; }

.h5 {
  font-size: 1.2em; }

.h6 {
  font-size: 1em; }
