@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './variables.scss';
@import './animations.scss';

// Global Styles
*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: $primary;
  color: $light;
}

:root,
html,
body {
    position: relative;
  margin: 0;
  padding: 0;
  background: $bg-primary; 
  font-family: $font-family; 
  color: $text-color; 
  font-size: $font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $link-hover-color;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-alt;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.8em;
}

.h3 {
  font-size: 1.6em;
}

.h4 {
  font-size: 1.4em;
}

.h5 {
  font-size: 1.2em;
}

.h6 {
  font-size: 1em;
}
