.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #125398;
  color: #f0eee9;
  padding: 0.5rem 2rem;
  box-shadow: 0px 3px 5px #080A0D; }

.header .logo > a {
  font-family: "Satisfy", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.25rem;
  color: #f0eee9; }

.header .logo > a:hover {
  color: #f0eee9; }

.header .searchContainer {
  position: relative; }

.header .eventSearchInput {
  width: 500px;
  padding: 0.25rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 2rem; }

.header .svgSearchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-60%);
  z-index: 1000;
  opacity: 0.33; }

.header .eventSearchInput:hover,
.header .eventSearchInput:focus {
  border-color: #66afe9; }

.header .navigation .svgCartIcon--full {
  fill: #082d54;
  pointer-events: all; }

.header .navigation > a {
  color: #f0eee9; }

.header .navigation > a:hover {
  color: rgba(240, 238, 233, 0.5); }

.mainContent {
  position: relative;
  padding: 4rem;
  top: 60px;
  min-height: calc(100vh - 200px); }

.eventsGrid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: fit-content;
  margin: 0 auto; }

.eventsGrid .eventDateSeparator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 60px;
  background-color: #f0eee9;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  grid-column: span 3; }

.eventsGrid .eventDateSeparator > span {
  display: block;
  font-weight: bold; }

.eventsGrid .eventDateSeparator > span > span {
  color: #007FFF; }

.eventsResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  transform: translateX(-50%); }

.eventsResults__content {
  color: #f0eee9; }

.eventsCardBox {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
  width: 300px;
  height: 450px;
  margin: 0;
  box-shadow: 0px 3px 5px #080A0D;
  border-radius: 0.5rem;
  overflow: hidden; }

.eventsCardBox__head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border-bottom: 1px solid rgba(240, 238, 233, 0.25);
  overflow: hidden;
  background-color: transparent; }

.eventsCardBox__head:hover .flyerImg {
  transform: scale(1.05);
  filter: grayscale(0.6) brightness(0.5); }

.eventsCardBox__head:hover .svgCartIcon--plus {
  opacity: 1; }

.eventsCardBox__head:hover .svgCartIcon__container {
  opacity: 1;
  transform: translate(-125%, -125%) scale(1); }

.eventsCardBox__head .flyerImg {
  min-height: 300px;
  max-width: 600px;
  transform: scale(1);
  filter: none;
  transition: filter 1s ease,transform 2s ease; }

.eventsCardBox__head .svgCartIcon {
  transition: all 0.5s ease; }

.eventsCardBox__head .svgCartIcon--plus {
  opacity: 1;
  fill: #007FFF; }

.eventsCardBox__head .svgCartIcon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  opacity: 1;
  background-color: #f0eee9;
  transform: translate(-100%, -100%) scale(0.6);
  transition: opacity 0.5s ease, transform 0.5s ease; }

.eventsCardBox__head .svgCartIcon__container:hover .svgCartIcon--plus {
  fill: #003D7A;
  transform: scale(1.1); }

.eventsCardBox__body {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-bottom: 1px solid rgba(17, 21, 28, 0.25); }

.eventsCardBox__foot {
  border-bottom: none;
  height: max-content;
  text-align: center; }

.eventsCardBox__foot .eventDate, .eventsCardBox__foot .eventLocation {
  font-size: 0.8rem;
  margin: 0.1rem auto; }

.eventsCardBox__foot .eventLocation__venue:hover {
  cursor: pointer; }

.eventsCardBox__foot .svgPinIcon {
  transform: translate(-20%, 20%); }

.eventsCardBox__foot .svgPinIcon--full {
  fill: #125398; }

.eventsCardBox__body, .eventsCardBox__foot {
  background-color: #f0eee9;
  padding: 0.5rem 1rem;
  width: 100%; }

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 1rem 2rem; }

.googleMapsSideDrawer {
  position: fixed;
  z-index: 100;
  top: 60px;
  right: -350px;
  bottom: 0;
  width: 350px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px; }

.googleMapsSideDrawer__button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #125398;
  color: #fff;
  border: none;
  cursor: pointer; }

.googleMapsSideDrawer__button:first-of-type {
  margin-right: 1rem; }

.googleMapsSideDrawer__button:hover {
  background-color: #0056b3; }

.googleMapsSideDrawer__iframe {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
  background-color: rgba(17, 21, 28, 0.25); }

@media (max-width: 767px) {
  .googleMapsSideDrawer {
    width: 100%;
    right: -100%; } }

.googleMapsSideDrawer {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out; }

.googleMapsSideDrawer--visible {
  transform: translateX(-350px);
  transition: transform 0.5s ease-in-out; }

.shopCart {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 300px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 3px 5px #080A0D;
  padding: 1rem; }

.shopCart--inactive, .shopCart--active {
  transition: opacity 0.5s ease; }

.shopCart--inactive {
  opacity: 0; }

.shopCart--active {
  opacity: 1; }

.shopCart__container {
  position: relative; }

.shopCart__itemsList {
  list-style: none;
  padding-left: 0; }

.shopCart__item {
  font-size: 0.85rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(17, 21, 28, 0.5); }

.shopCart__item--empty {
  font-size: 0.85rem; }

.shopCart__handler {
  position: relative;
  background-color: transparent;
  border: none; }

.shopCart__handler .cartCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50%;
  right: 0;
  color: #f0eee9;
  background-color: red;
  border-radius: 50%;
  width: 0.85rem;
  height: 0.85rem;
  font-size: .625rem;
  pointer-events: none;
  transform: translateY(50%); }

.shopCart__handler .cartCounter > span {
  transform: translate(-5%, 12.5%); }

.shopCart__removeButton {
  color: #ff5c5c;
  border: none;
  padding: 0;
  background-color: none;
  cursor: pointer;
  transform: translateX(1rem); }

.shopCart__removeButton:hover {
  color: rgba(17, 21, 28, 0.25); }
