@import './variables.scss';

// Header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: $zIndex--4;
    width: 100%;
    height: $header-height;
    background-color: $primary;
    color: $light;
    padding: 0.5rem 2rem;
    text-shadow: $text-shadow-dark;
    box-shadow: $box-shadow-effect;

    .logo {
        > a {
            font-family: $font-family-alt;
            font-weight: $font-weight-bold;
            font-style: italic;
            font-size: 2.25rem;
            color: $light;
            &:hover {
                color: $light;
            }
        }
    }

    .searchContainer {
        position: relative;
      }
      
    .eventSearchInput {
        width: 500px;
        padding: 0.25rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: relative;
        padding-left: 2rem;
    }

    .svgSearchIcon {
        position: absolute;
        left: 0; 
        top: 50%;
        transform: translateY(-60%);
        z-index: $zIndex--6;
        opacity: 0.33;
    }

    .eventSearchInput:hover,
    .eventSearchInput:focus {
        border-color: #66afe9;
    }

    .navigation {
        .svgCartIcon--full {
            fill: $primary--dark;
        }
        > a {
            color: $light;
            &:hover {
                color: $light--50;
            }
        }
    }
}
// Content
.mainContent {
    position: relative;
    padding: 2rem 4rem;
    top: 60px;
    min-height: calc(100vh - 200px);
}

.eventsGrid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    top: $header-height; // Assuming $header-height is defined elsewhere in your SCSS
  
    .eventDateSeparator {
      grid-column: span 3; // Adjust the number of columns as needed
      position: sticky;
      top: $header-height; // Adjust the top value based on your header height
      background-color: #fff; // Adjust the background color as needed
      z-index: 1;
  
      span {
        display: block;
        padding: 10px;
        font-weight: bold;
      }
    }
}

.eventsResults {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: $header-height;
    left: 50%;
    width: 100%;
    height: $header-height;
    margin: 0 auto;
    transform: translateX(-50%);
    z-index: $zIndex--1;
    
    &__content {
        color: $light;
    }
}

.eventDateSeparator {
    grid-column: span 3; // Adjust the number of columns as needed
    position: sticky;
    top: 0;
    background-color: #fff; // Adjust the background color as needed
    z-index: 1;
  
    span {
      display: block;
      padding: 10px;
      font-weight: bold;
    }
  }
  
// event cards
.eventsCardBox {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    width: 300px;
    height: 450px;
    margin: 0;
    box-shadow: $box-shadow-effect;
    border-radius: 0.5rem;
    overflow: hidden;

    &__head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
        height: 300px;
        border-bottom: $box-border;
        overflow: hidden;
        background-color: transparent;
        &:hover {
            .flyerImg {
                transform: scale(1.05);
                filter: grayscale(0.6) brightness(0.5);
            }
            .svgCartIcon {
                &--plus {
                    opacity: 1;
                }
                &__container {
                    opacity: 1;
                    transform: translate(-125%, -125%) scale(1);
                }
            }
          }
        .flyerImg {
            min-height: 300px;
            max-width: 600px;
            transform: scale(1);
            filter: none;
            transition: filter 1s ease,transform 2s ease;
        }
        .svgCartIcon {
            transition: all 0.5s ease;
            &--plus {
                opacity: 1;
                fill: $secondary;
            }
            &__container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 100%;
                left: 100%;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                opacity: 1;
                background-color: #f0eee9;
                transform: translate(-100%, -100%) scale(.6);
                transition: opacity 0.5s ease, transform 0.5s ease;

                &:hover {
                   .svgCartIcon {
                    &--plus {
                        fill: $secondary--dark;
                        transform: scale(1.1);
                    }
                   } 
                }
            }
        }
    }
    &__body {
        display: inline-flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border-bottom: $box-border-dark;
    }
    &__foot {
        border-bottom: none ;
        height: max-content;
        text-align: center;

        .eventDate, .eventLocation {
            font-size: 0.8rem;
            margin: 0.1rem auto;
        }

        .eventLocation__direction:hover {
            cursor: pointer;
        }

        .svgPinIcon {
            transform: translate(-20%, 20%);
            &--full {
                fill: $primary
            }
        }
    }
    &__body,  &__foot {
        background-color: $light;
        padding: 0.5rem 1rem;
        width: 100%;
    }
}

// Footer
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 1rem 2rem;
}

// side drawer
.googleMapsSideDrawer {
    position: fixed;
    z-index: $zIndex--4;
    top: $header-height;
    right: -350px;
    bottom: 0;
    width: 350px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
  
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    &__button {
      align-self: flex-end;
      margin-top: 10px;
      padding: 8px 12px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;

      &:first-of-type {
        margin-right: 1rem;
      }
  
      &:hover {
        background-color: #0056b3; 
      }
    }
  
    &__iframe {
      width: 100%;
      height: calc(100% - 40px);
      border: none;
      background-color: $dark--25;
    }
  }
  
  @media (max-width: 767px) {
    .googleMapsSideDrawer {
      width: 100%;
      right: -100%;
    }
  }
  
  .googleMapsSideDrawer {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    &--visible {
        transform: translateX(-350px);
        transition: transform 0.5s ease-in-out;
      }
  }
  