@import './variables.scss';

// Header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: $primary;
    color: $light;
    padding: 0 2rem;
    text-shadow: $text-shadow-dark;

    .logo {
        > a {
            font-family: $font-family-alt;
            font-weight: $font-weight-bold;
            font-style: italic;
            font-size: 2.25rem;
            color: $light;
            &:hover {
                color: $light;
            }
        }
    }

    .navigation {
        > a {
            color: $light;
            &:hover {
                color: $light--50;
            }
        }
    }
}
// Content
.mainContent {
    position: relative;
    padding: 2rem 4rem;
    top: 100px;

}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 16px; /* Adjust the gap between cards */
    width: 1080px;
    margin: 0 auto;
}
// event cards
.box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    width: 300px;
    height: 450px;
    margin: 1rem;
    box-shadow: $box-shadow-effect;
    border-radius: 0.5rem;
    overflow: hidden;

    &__head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
        height: 300px;
        border-bottom: $box-border;
        overflow: hidden;
        background-color: transparent;
        &:hover {
            .flyerImg {
                transform: scale(1.1);
                filter: grayscale(0.6) brightness(0.1);
            }
            .svgCartIcon {
                &--plus {
                    opacity: 1;
                }
                &__container {
                    opacity: 1;
                    transform: translate(-125%, -125%) scale(1);
                }
            }
          }
        .flyerImg {
            min-height: 300px;
            max-width: 600px;
            transform: scale(1);
            filter: none;
            transition: all 0.5s ease;
        }
        .svgCartIcon {
            transition: all 0.5s ease;
            &--plus {
                opacity: 1;
                fill: $secondary;
            }
            
            &__container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 100%;
                left: 100%;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                opacity: 1;
                background-color: #f0eee9;
                transform: translate(-100%, -100%) scale(.6);
                transition: opacity 0.5s ease, transform 0.5s ease;

                &:hover {
                   .svgCartIcon {
                    &--plus {
                        fill: $secondary--dark;
                        transform: scale(1.1);
                    }
                   } 
                }
            }
        }
    }
    &__body {
        display: inline-flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border-bottom: $box-border-dark;
    }
    &__foot {
        border-bottom: none ;
        height: max-content;
        text-align: center;

        .eventDate {
            font-size: 0.75rem;
        }
        
        .svgPinIcon {
            transform: translate(-20%, 20%);
            &--full {
                fill: $primary
            }
        }
    }
    &__body,  &__foot {
        background-color: $light;
        padding: 0.5rem 1rem;
        width: 100%;
    }
}

// Footer
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 1rem 2rem;
}